.env
.env.local
.env.production
.env.staging
node_modules/
dist/
build/
.DS_Store
*.log
.vercel
backend-oficial/

party_credentials.txt

# Voice Service
ai-voice-service/tts_models/
ai-voice-service/temp_audio/
ai-voice-service/stored_voices/
*.wav
*.mp3
*.pth
__pycache__/
